.film {
    border: 3px solid yellow;
    width: 70%;
}
.remove-btn {
    background: none;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.remove-btn:hover {
    box-shadow: 2px 2px 1px 1px #000000;
}
.film-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}